html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  flex: 0 0 auto;
  border-style: solid;
  border-width: 0px 0px 2.5px 0px;
  border-color: black;
}

main {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: scroll;
  margin-top: 10px;
}

footer {
  text-align: center;
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space, if we want to do that */
  background: transparent; /* make scrollbar invisible */
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 30% 5px 30%;
  background: white;
}

li {
  display: inline;
  padding: 0px 2px 0px 2px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red !important;
}


.background {
  background-image: url("../img/desk_image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; //parallax scrolling effect
  background-repeat: no-repeat; //parallax scrolling effect
  text-align: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  text-shadow: 1px 1px #DCDCDC;
}

.subsection {
  padding: 0px 0px 50px 0px;
}

.subsection-title {
  padding: 50px 0px 0px 0px;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

#aboutme,
#contact {
  background-color: #edeeef;
}

#aboutme {
  padding-left: 12%;
  padding-right: 12%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project h3 {
  margin-top: 0px;
}

.project__img{
  flex: 1;
  min-width: 300px;
}


.project__img img {
  border-radius: 10px;
  width: 80%;
}

.project__info {
  flex: 1;
  margin-right: 10%;
  text-align: left;
  min-width: 300px;
}

.project__info__tech, .project__info__links, .project__info__links a, #aboutme a {
    color: #888;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

@media screen and (min-width: 620px) and (max-width: 920px) {
  li {
    padding: 0px 2px 0px 2px;
  }
  .menu {
    padding: 5px 20% 5px 20%;
  }
}

@media screen and (max-width: 800px) {


  .project {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .project__info {
    text-align: center;
    margin: 2% 2%;
  }

  #aboutme {
    padding: 2% 2% 10% 2%;
  }

}

@media screen and (max-width: 620px) {
  li {
    display: block;
  }
  .menu {
    flex-direction: column;
  }
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .project__info {
    margin: 0 auto;
    text-align: center;
  }

  .project__img{
    min-width: 275px;
  }

}

@media screen and (max-width: 300px) {

  .project__img{
    min-width: 200px;
  }

  .project__info{
    min-width: 200px;
  }

}
