html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

body a:hover {
  color: red
}

header {
  flex: 0 0 auto;
  border-style: solid;
  border-width: 0px 0px 2.5px 0px;
  border-color: black;
  margin: 0 10px 0 10px;
}

main {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* make scrollbar invisible */
}

.projects {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 30% 5px 30%;
  background: white;
}

main {
  margin-top: 10px;
}

li {
  display: inline;
  padding: 0px 2px 0px 2px;
}

a {
  text-decoration: none;
  color: black;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}



/*.projects__project__description {
  width: 50%;
}*/

/*.projects__project__image {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(0,0,0,0.7);
  box-shadow: 0px -1px 3px rgba(0,0,0,0.1), 0px 2px 6px rgba(0,0,0,0.5);
  border-radius: 6px;
}

#simon {
  background-image: url("../img/simon.png");
}

#goaltracker {
  background-image: url("../img/all_time_daily.png");
}*/

.background {
  background-image: url("../img/desk_image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; //parallax scrolling effect
  background-repeat: no-repeat; //parallax scrolling effect
  text-align: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}
.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 20px;
}

.subsection {
  /*height: 500px;*/
  padding: 0px 0px 50px 0px;
}

.subsection-title {
  padding: 50px 0px 0px 0px;
  text-align: center;
}


#skills,
#contact {
  background-color: #edeeef;
}

footer {
  text-align: center;
  font-size: 10px;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: 300px;
  width: 500px;
  flex-shrink: 0
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox h4 {
	color: red;
}


.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}


@media screen and (min-width: 620px) and (max-width: 920px) {
  li {
    padding: 0px 2px 0px 2px;
  }
  .menu {
    padding: 5px 20% 5px 20%;
  }
}

@media screen and (max-width: 620px) {
  li {
    display: block;
  }
  .menu {
    flex-direction: column;
  }
  h2 {
    font-size: 30px;
  }
}
