html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #F5F5F5;
}

header {
  flex: 0 0 auto;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: red;
}

.left {
  padding-left: 3vw;
}

.right {
  padding-right: 0.5vw;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts p, .contacts a {
  font-size: calc(12px + 1.2vw);
}

.divider {
  padding: 0 2vw;
}

header, .subsection, #aboutme, .background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu a {
  font-weight: 700;
}

main {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: scroll;
  /* margin-top: 10px; */
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space, if we want to do that */
  background: transparent; /* make scrollbar invisible */
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 30% 5px 30%;
  background: white;
}

li {
  display: inline;
  padding: 0px 2px 0px 2px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red !important;
}


.background {
  background-image: url("../img/desk_image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed; //parallax scrolling effect
  background-repeat: no-repeat; //parallax scrolling effect
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  /* margin: 10px 0px; */
}

.subsection {
  padding: 0 1vw;
}

.subsection-title {
  /* padding: 50px 0px 0px 0px; */
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  color: black;
}



.title h3 {
  margin: 0;
  padding: 0;
}

.subtitle h2 {
  margin: 0;
  padding: 0;
  font-size: calc(20px + 2vw);
  color: red;
}

.box {
  background: transparent;
  padding: 50px 70px;
  white-space: pre-line;
  margin:0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}

.name {
  text-align: left;
}


img.scroll {
  position: absolute;
  bottom: 1vh;
  right: 2vw;
  width: 5vw;
}

img.scroll:hover {
  content: url("../img/red-arrow.png")
}

#scrollHome {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

#portfolio {
  background-color: white;
}

#contact {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.background, #aboutme, #contact, #portfolio {
  min-height: 100vh;
}

#aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3vw;
}

#aboutme p {
  font-size: calc(12px + 1.2vw);
}

#aboutme a {
  font-size: calc(12px + 0.8vw);
}

#no-margin {
  margin-bottom: 0px;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.links a {
  padding: 4vh 3vw;
  font-weight: 700;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project h3 {
  margin-top: 0px;
}

.project__img{
  flex: 1;
  min-width: 300px;
}


.project__img img {
  border-radius: 10px;
  width: 80%;
}

.project__info {
  flex: 1;
  margin-right: 2vw;
  text-align: left;
  min-width: 300px;
}

.project__info__tech, .project__info__links, .project__info__links a, #aboutme a {
    color: #888;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
  font-size: 10vw;
  margin: 0 0;
  line-height: 9vw;
}

h2 {
  font-size: 6vw;
  margin-top: 0;
  padding-top: 20px;
}

h3 {
  font-size: 35px;
  padding-top: 10px;
}

p, a {
  font-size: calc(12px + 0.8vh);
}

.links a {
  font-size: calc(12px + 1.5vmin);
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10vw;
}

span.avoidwrap {
  display: inline-block;
}

@media screen and (min-width: 620px) and (max-width: 920px) {
  li {
    padding: 0px 2px 0px 2px;
  }
  .menu {
    padding: 5px 20% 5px 20%;
  }

  h1 {
    font-size: 15vw;
    line-height: 14vw;
  }

}

@media screen and (max-width: 800px) {
  .links {
    flex-direction: column;
  }
  .links a {
    padding: 0;
  }

  .contacts {
    flex-direction: column;
  }

  .contacts p {
    margin: 1vw 0;
  }

  .divider {
    display: none;
  }

}

@media screen and (max-width: 800px) {

  img.scroll {
    width: 10vw;
  }

  .project {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .project__info {
    text-align: center;
    margin: 2% 2%;
  }

}

@media screen and (max-width: 620px), screen and (max-height: 530px) {
  li {
    display: block;
  }
  .menu {
    flex-direction: column;
  }
  h1 {
    font-size: 15vw;
    line-height: 14vw;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  #aboutme p, #aboutme a, p, a {
    font-size: 14px;
  }



  .project__info {
    margin: 0 auto;
    text-align: center;
  }

  .project__img{
    min-width: 275px;
  }

}

@media screen and (max-width: 300px) {

  .project__img{
    min-width: 200px;
  }

  .project__info{
    min-width: 200px;
  }

  .subtitle h2 {
    text-align: left !important;
    font-size: 15px !important;
  }

  .hide {
    display: none;
  }

}

@media screen and (max-width: 450px) {
  img.scroll {
    bottom: 2.5vh;
  }

  .project__img {
    max-width: 70vw;
  }

}

@media screen and (max-width: 350px) {

  .scroll {
    display: none;
  }

}
