body {
  margin: 3% 5% 3% 5%;
  background-color: #ECEFEC;
  font-family: Roboto, Arial;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  text-align: center;
  color: #54595B;
  margin: 0px 0px 10px 0px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
}

h2 {
  text-align: center;
  color: #54595B;
  font-size: 15px;
  margin: 0px;
  font-weight: normal;
}

.button-row {
  display: flex;
  justify-content: center;
}

button {
  background-color: white;
  border-color: #A3A3A3;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  width: 300px;
  height: 40px;
  font-weight: bold;
  color: #54595B;
  font-size: 15px;
  margin: 50px 0px 50px 0px;
  text-align: center;
}

.locations {
  color: #EAEDEA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 0px;
  flex-wrap: wrap;
}

.city {
  width: 290px;
  height: 320px;
  text-align: center;
  color: #EAEDEA;
  font-size: 30px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 11px 10px 11px;
}

#SanFrancisco {
  background-image: url("../img/san-francisco.jpg");
  background-position: center;
  background-size: cover;
}

#NewYork {
  background-image: url("../img/new-york.jpg");
  background-position: center;
  background-size: cover;
}

#London {
  background-image: url("../img/london.jpg");
  background-position: center;
  background-size: cover;
}

#Napa {
  background-image: url("../img/napa.jpg");
  background-position: center;
  background-size: cover;
}

#Sonoma {
  background-image: url("../img/sonoma.jpg");
  background-position: center;
  background-size: cover;
}

#San-francisco-2 {
  background-image: url("../img/san-francisco-2.jpg");
  background-position: center;
  background-size: cover;
}
